body {
  border-top: 5px solid #d35400;
}

h1 {font-size: 36px;
  font-family: Georgia, times, serif;
  font-weight: bold;
  margin: 20px;
}

h2 {
  font-size: 18px;
  font-family: Georgia, times, serif;
  margin: 20px;
}

h3 {
  font-size: 18px;
  font-family: Georgia, times, serif;
}

.links
a {color: red
}

p {font-size 18px'
  font-family: Georgia, times, serif;
  margin: 20px:
}